body {

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;  
    margin: 0;
}

html {
    scroll-behavior: smooth;
  }

#h1 {
    padding: 0;
    line-height: 1;
    color: white;
    text-align: center;
    justify-content: center;
    margin-top: 70px;
}



#head {
    width: 100%;
    height: 200px;
    border: solid 2px black;
    background-color: black;
}

#nav{
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    list-style: none;
    color: white;
    display: flex;
    font-size: larger;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: rgb(255, 0, 0);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

#friedseries {
    margin-top: 3rem;
    position: absolute;
    width: 350px;
    height: 70px;
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    margin-left: 38%;
    border-radius: 10px;

}

#sett {
    color: white;
    font-size: 2rem;
    text-align: center;
}

#friedpictures {
    margin-top: 14rem;
    margin-left: 9rem;
    width: 350px;
    height: 400px;
    border: 5px solid black;
    background-image: url('realchick.jpg');
    border-radius: 10px;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease-in-out;
}

#friedpictures:hover {

    transform: scale(1.1);
}


#realchicken {
    color: black;
    margin-top: 27rem;
    margin-left: 75px;
    text-decoration: underline;
    text-underline-offset: 1rem;
    position: absolute;
}

#realchicken:hover {
    color: rgb(8, 222, 255);
}

#calamari {
    margin-top: 14rem;
    margin-left: 35rem;
    width: 350px;
    height: 400px;
    border: 5px solid black;
    background-image: url('calamari.jpg');
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease-in-out; 
}

#calamari:hover {
    transform: scale(1.1);
}


#calamaritxt {
    margin-top: 25.5px;
    display: block;
    margin-left: 40rem;
    text-decoration: underline;
    text-underline-offset: 1rem;
    color: black;
} 

#calamaritxt:hover {
    color: rgb(8, 222, 255);
}


#canu {
    margin-top: -31rem;
    margin-left: 62rem;
    width: 350px;
    height: 400px;
    border: 5px solid black;
    border-radius: 10px;
    background-image: url('tofu.jpg');
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease-in-out;
}

#canu:hover {
    transform: scale(1.1); 
}

#Tofutxt {
    margin-top: 25.5px;
    display: block;
    margin-left: 69rem;
    text-decoration: underline;
    text-underline-offset: 1rem;
    color: black;
}

#Tofutxt:hover {
    color: rgb(8, 222, 255);
}

#FriedChicken {
    color: white;
    margin-top: 10rem;
    margin-left: 0rem;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: black;
}

#frieded {
    margin-left: 55%;
}



#FriedCalamari {
    margin-left: 55%;
}


#ingredientsbox {
    background-color: black;
    width: 180px;
    height: 240px;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
}

#ingredientshead , #ingredients {
    color: white;
}

#ingredientshead {
    margin-left: 20px;
}

#instructions {
    width: 1100px ;
    height: 400px;
    border: 2px solid black;
    position: absolute;
    background-color: #d3d3d3;
    margin-left: 23rem;
    position: absolute;
    margin-top: 18rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    justify-content: center;
    font-size: medium;
}

#ingredientsboxcalamari {
    background-color: black;
    width: 180px;
    height: 240px;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 1000px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
}

#ingredientsheadcalamari , #ingredientscalamari {
    color: white;
}

#ingredientsheadcalamari {
    margin-left: 20px;
    margin-top: 1;
}

#FriedCalamari {

    color: white;
}

#instructionscalamari {
    width: 1100px ;
    height: 400px;
    border: 2px solid black;
    position: absolute;
    background-color: #d3d3d3;
    margin-left: 23rem;
    position: absolute;
    margin-top: 1000px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    justify-content: center;
    font-size: larger;
}

#yup {

    color: white;
    margin-top: 53rem;
    margin-left: 0rem;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: black;
}

#yeh {
    color: white;
    margin-top: 100rem;
    margin-left: 0rem;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: black;
}

#FriedTofu {
    margin-left: 55%;
}

#ingredientsboxtofu{
    background-color: black;
    width: 190px;
    height: 360px;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 1750px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    justify-content: center;
}

#ingredientsheadtofu , #ingredientstofu {
    color: white;
}

#ingredientsheadtofu {
    margin-left: 25px;
}

#instructionstofu {
    width: 1100px ;
    height: 400px;
    border: 2px solid black;
    position: absolute;
    background-color: #d3d3d3;
    margin-left: 23rem;
    position: absolute;
    margin-top: 1750px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    justify-content: center;
    font-size: larger;
}


/* grilled series */

#grilledseries {
    margin-top: 2300px;
    position: absolute;
    width: 350px;
    height: 70px;
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    margin-left: 38%;
    border-radius: 10px;


}

#sett2 {
    color: white;
    font-size: 2rem;
    text-align: center;
}

#grilledpictures {
    margin-top: 2481px;
    margin-left: 9rem;
    width: 350px;
    height: 400px;
    border: 5px solid black;
    background-image: url('grilled\ shrimp.jpg');
    border-radius: 10px;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease-in-out;
}

#grilledpictures:hover {
    transform: scale(1.1);
}

#realshrimp {
    color: black;
    margin-top: 26.8rem;
    margin-left: 75px;
    text-decoration: underline;
    text-underline-offset: 1rem;
    position: absolute;
}

#realshrimp:hover {
    color: rgb(8, 222, 255);
}

#grilledcorn {
    margin-top: 2500px;
    margin-left: 35rem;
    width: 350px;
    height: 400px;
    border: 5px solid black;
    background-image: url('grilled\ corn.jpg');
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease-in-out;
}

#grilledcorn:hover {
    transform: scale(1.1);
}

#corntxt {
    margin-top: 25.5px;
    display: block;
    margin-left: 40rem;
    text-decoration: underline;
    text-underline-offset: 1rem;
    color: black;
} 

#corntxt:hover {
    color: rgb(8, 222, 255);
}


#GrilledRibs {
    margin-top: -31rem;
    margin-left: 62rem;
    width: 350px;
    height: 400px;
    border: 5px solid black;
    border-radius: 10px;
    background-image: url('grilled\ ribs.jpg');
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease-in-out;
}

#GrilledRibs:hover {
    transform: scale(1.1);
}

#ribstxt {
    margin-top: 25.5px;
    display: block;
    margin-left: 69rem;
    text-decoration: underline;
    text-underline-offset: 1rem;
    color: black;
}

#ribstxt:hover {
    color: rgb(8, 222, 255);
}

#ingredientsboxshrimp {
    background-color: black;
    width: 180px;
    height: 283px;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 340px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
}

#ingredientsshrimp{
    color: white;
}

#ingredientsheadshrimp {
    margin-left: 20px;
    color: white;
}

#yas {
    color: white;
    margin-top: 10rem;
    margin-left: 0rem;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: black;
}

#shrimp {
    margin-left: 55%;
}

#instructionsshrimp {
    width: 1100px ;
    height: 400px;
    border: 2px solid black;
    position: absolute;
    background-color: #d3d3d3;
    margin-left: 23rem;
    position: absolute;
    margin-top: 340px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    justify-content: center;
    font-size: larger;
}

#yasz {
    color: white;
    margin-top: 900px;
    margin-left: 0rem;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: black;
}

#corn {
    margin-left: 55%;
}


#ingredientsboxcorn {
    background-color: black;
    width: 180px;
    height: 283px;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 1080px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
}

#ingredientscorn{
    color: white;
}

#ingredientsheadcorn {
    margin-left: 20px;
    color: white;
}

#instructionscorn {
    width: 1100px ;
    height: 400px;
    border: 2px solid black;
    position: absolute;
    background-color: #d3d3d3;
    margin-left: 23rem;
    position: absolute;
    margin-top: 1080px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    justify-content: center;
    font-size: large;
}

#yaszz {
    color: white;
    margin-top: 1600px;
    margin-left: 0rem;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: black;
}

#pork {
    margin-left: 55%;
}

#ingredientsboxpork {
    background-color: black;
    width: 180px;
    height: 283px;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 1780px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
}

#ingredientspork{
    color: white;
}

#ingredientsheadpork {
    margin-left: 20px;
    color: white;
}

#instructionspork {
    width: 1100px ;
    height: 400px;
    border: 2px solid black;
    position: absolute;
    background-color: #d3d3d3;
    margin-left: 23rem;
    position: absolute;
    margin-top: 1780px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    justify-content: center;
    font-size: large;
}

/* Soup Series */

#soupseries {
    margin-top: 2300px;
    position: absolute;
    width: 350px;
    height: 70px;
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    margin-left: 38%;
    border-radius: 10px;


}

#sett3 {
    color: white;
    font-size: 2rem;
    text-align: center;
}

#souppictures {
    margin-top: 2481px;
    margin-left: 9rem;
    width: 350px;
    height: 400px;
    border: 5px solid black;
    background-image: url('tomato.jpg');
    border-radius: 10px;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease-in-out;
}

#souppictures:hover {
    transform: scale(1.1);
}

#realtomato {
    color: black;
    margin-top: 26.8rem;
    margin-left: 75px;
    text-decoration: underline;
    text-underline-offset: 1rem;
    position: absolute;
}

#realtomato:hover {
    color: rgb(8, 222, 255);
}

#noodlesoup {
    margin-top: 2500px;
    margin-left: 35rem;
    width: 350px;
    height: 400px;
    border: 5px solid black;
    background-image: url('noodle.jpg');
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease-in-out;
}

#noodlesoup:hover {
    transform: scale(1.1);
}

#noodletxt {
    margin-top: 25.5px;
    display: block;
    margin-left: 40rem;
    text-decoration: underline;
    text-underline-offset: 1rem;
    color: black;
} 

#noodletxt:hover {
    color: rgb(8, 222, 255);
}


#squashsoup {
    margin-top: -31rem;
    margin-left: 62rem;
    width: 350px;
    height: 400px;
    border: 5px solid black;
    border-radius: 10px;
    background-image: url('squash.jpg');
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease-in-out;
}

#squashsoup:hover {
    transform: scale(1.1);
}

#squashtxt {
    margin-top: 25.5px;
    display: block;
    margin-left: 69rem;
    text-decoration: underline;
    text-underline-offset: 1rem;
    color: black;
}

#squashtxt:hover {
    color: rgb(8, 222, 255);
}

#bruh1 {
    color: white;
    margin-top: 200px;
    margin-left: 0rem;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: black;
}

#tomato {
    margin-left: 55%;
}

#ingredientsboxtomato {
    background-color: black;
    width: 180px;
    height: 283px;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 380px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
}

#ingredienttomato{
    color: white;
}

#ingredientsheadtomato {
    margin-left: 20px;
    color: white;
}

#instructionstomato {

    width: 1100px ;
    height: 400px;
    border: 2px solid black;
    position: absolute;
    background-color: #d3d3d3;
    margin-left: 23rem;
    position: absolute;
    margin-top: 380px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    justify-content: center;
    font-size: large;
}

#bruh2 {
    color: white;
    margin-top: 900px;
    margin-left: 0rem;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: black;
}

#noodoe {
    margin-left: 55%;
}

#ingredientsboxsoup {
    background-color: black;
    width: 180px;
    height: 283px;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 1080px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
}

#ingredientsoup{
    color: white;
}

#ingredientsheadsoup {
    margin-left: 20px;
    color: white;
}

#instructionssoup {

    width: 1100px ;
    height: 400px;
    border: 2px solid black;
    position: absolute;
    background-color: #d3d3d3;
    margin-left: 23rem;
    position: absolute;
    margin-top: 1080px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    justify-content: center;
    font-size: large;
}

#bruh3 {
    color: white;
    margin-top: 1650px;
    margin-left: 0rem;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: black;
}

#squashher {
    margin-left: 55%;
}

#ingredientsboxsquash {
    background-color: black;
    width: 180px;
    height: 283px;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 1820px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
}

#ingredientsquash{
    color: white;
}

#ingredientsheadsquash {
    margin-left: 20px;
    color: white;
}

#instructionsquash {

    width: 1100px ;
    height: 400px;
    border: 2px solid black;
    position: absolute;
    background-color: #d3d3d3;
    margin-left: 23rem;
    position: absolute;
    margin-top: 1820px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    justify-content: center;
    font-size: large;
}

/* comment section */

#comment-box {
    width: 900px;
    margin-left: 30px;
    background-color: #000000;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 2400px;
}




#comment-box h3 {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}


#comment-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


#comment-form input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
    transition: border-color 0.3s;
}


#comment-form textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
    resize: vertical;
    height: 150px;
    transition: border-color 0.3s;
}


#comment-form input[type="text"]:focus, 
#comment-form textarea:focus {
    border-color: #007bff;
    outline: none;
}


#comment-form button {
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


#comment-form button:hover {
    background-color: #0056b3;
}

/*about*/

#about {
    width: 460px;
    height: 430px;
    border: 2px solid rgb(10, 7, 7);
    margin-top: -386px;
    margin-left: 67%;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

#about:hover{
    transform: scale(1.1);
}

#image {
    border-radius: 10px;
    border: 2px solid rgb(122, 255, 125);
    margin-left: 30%;
}

footer {
    height: 26vh;
    margin: 0 1rem;
}
  
footer p {
    text-align: center;
    margin-top: 1rem; 
}

.nav-links {
    color: rgb(255, 255, 255);
    gap: 3rem; 
    list-style: none;
    display: flex;
    justify-content: space-around; 
    width: 100%; 
    font-size: larger;
}

.nav-links-container {
    margin-top: 50px;
    background-color: rgb(0, 0, 0);
    height: 100px;
    border-radius: 10px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}







